.wrapper.style6 {
  background-color: #000;
  color: #bfbfbf;
  background-image: url(../../images/top3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.wrapper.style6 input,
.wrapper.style6 select,
.wrapper.style6 textarea {
  color: #ffffff;
}

.wrapper.style6 a {
  color: #8a4680;
}

.wrapper.style6 strong,
.wrapper.style6 b {
  color: #ffffff;
}

.wrapper.style6 h1,
.wrapper.style6 h2,
.wrapper.style6 h3,
.wrapper.style6 h4,
.wrapper.style6 h5,
.wrapper.style6 h6 {
  color: #ffffff;
}

.wrapper.style6 blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 .box {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 input[type="submit"],
.wrapper.style6 input[type="reset"],
.wrapper.style6 input[type="button"],
.wrapper.style6 button,
.wrapper.style6 .button {
  background-color: #f2f2f2;
  color: #000 !important;
}

.wrapper.style6 input[type="submit"]:hover,
.wrapper.style6 input[type="reset"]:hover,
.wrapper.style6 input[type="button"]:hover,
.wrapper.style6 button:hover,
.wrapper.style6 .button:hover {
  background-color: white;
}

.wrapper.style6 input[type="submit"]:active,
.wrapper.style6 input[type="reset"]:active,
.wrapper.style6 input[type="button"]:active,
.wrapper.style6 button:active,
.wrapper.style6 .button:active {
  background-color: #e5e5e5;
}

.wrapper.style6 input[type="submit"].alt,
.wrapper.style6 input[type="reset"].alt,
.wrapper.style6 input[type="button"].alt,
.wrapper.style6 button.alt,
.wrapper.style6 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
}

.wrapper.style6 input[type="submit"].alt:hover,
.wrapper.style6 input[type="reset"].alt:hover,
.wrapper.style6 input[type="button"].alt:hover,
.wrapper.style6 button.alt:hover,
.wrapper.style6 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style6 input[type="submit"].alt:active,
.wrapper.style6 input[type="reset"].alt:active,
.wrapper.style6 input[type="button"].alt:active,
.wrapper.style6 button.alt:active,
.wrapper.style6 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style6 input[type="submit"].alt.icon:before,
.wrapper.style6 input[type="reset"].alt.icon:before,
.wrapper.style6 input[type="button"].alt.icon:before,
.wrapper.style6 button.alt.icon:before,
.wrapper.style6 .button.alt.icon:before {
  color: #999999;
}

.wrapper.style6 input[type="submit"].special,
.wrapper.style6 input[type="reset"].special,
.wrapper.style6 input[type="button"].special,
.wrapper.style6 button.special,
.wrapper.style6 .button.special {
  background-color: #8a4680;
  color: #ffffff !important;
}

.wrapper.style6 input[type="submit"].special:hover,
.wrapper.style6 input[type="reset"].special:hover,
.wrapper.style6 input[type="button"].special:hover,
.wrapper.style6 button.special:hover,
.wrapper.style6 .button.special:hover {
  background-color: #9b4f90;
}

.wrapper.style6 input[type="submit"].special:active,
.wrapper.style6 input[type="reset"].special:active,
.wrapper.style6 input[type="button"].special:active,
.wrapper.style6 button.special:active,
.wrapper.style6 .button.special:active {
  background-color: #793d70;
}

.wrapper.style6 label {
  color: #ffffff;
}

.wrapper.style6 input[type="text"],
.wrapper.style6 input[type="password"],
.wrapper.style6 input[type="email"],
.wrapper.style6 select,
.wrapper.style6 textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 input[type="text"]:focus,
.wrapper.style6 input[type="password"]:focus,
.wrapper.style6 input[type="email"]:focus,
.wrapper.style6 select:focus,
.wrapper.style6 textarea:focus {
  border-color: #8a4680;
  box-shadow: 0 0 0 1px #8a4680;
}

.wrapper.style6 .select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 input[type="checkbox"] + label,
.wrapper.style6 input[type="radio"] + label {
  color: #bfbfbf;
}

.wrapper.style6 input[type="checkbox"] + label:before,
.wrapper.style6 input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 input[type="checkbox"]:checked + label:before,
.wrapper.style6 input[type="radio"]:checked + label:before {
  background-color: #8a4680;
  border-color: #8a4680;
  color: #ffffff;
}

.wrapper.style6 input[type="checkbox"]:focus + label:before,
.wrapper.style6 input[type="radio"]:focus + label:before {
  border-color: #8a4680;
  box-shadow: 0 0 0 1px #8a4680;
}

.wrapper.style6 ::-webkit-input-placeholder {
  color: #999999 !important;
}

.wrapper.style6 :-moz-placeholder {
  color: #999999 !important;
}

.wrapper.style6 ::-moz-placeholder {
  color: #999999 !important;
}

.wrapper.style6 :-ms-input-placeholder {
  color: #999999 !important;
}

.wrapper.style6 .formerize-placeholder {
  color: #999999 !important;
}

.wrapper.style6 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 header p {
  color: #999999;
}

.wrapper.style6 table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style6 table th {
  color: #ffffff;
}

.wrapper.style6 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style6 .inner {
  position: relative;
  z-index: 2;
}

.wrapper.style6 p {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  padding: 0 0 1rem 0;
  letter-spacing: 0.25rem;
}

.wrapper.style6 p:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.wrapper.style6:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
