.wrapper.styleNoticias {
  background-color: #000;
  color: #bfbfbf;
  background-image: url(../../images/top4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.wrapper.styleNoticias input,
.wrapper.styleNoticias select,
.wrapper.styleNoticias textarea {
  color: #ffffff;
}

.wrapper.styleNoticias a {
  color: #8a4680;
}

.wrapper.styleNoticias strong,
.wrapper.styleNoticias b {
  color: #ffffff;
}

.wrapper.styleNoticias h1,
.wrapper.styleNoticias h2,
.wrapper.styleNoticias h3,
.wrapper.styleNoticias h4,
.wrapper.styleNoticias h5,
.wrapper.styleNoticias h6 {
  color: #ffffff;
}

.wrapper.styleNoticias blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias .box {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias input[type="submit"],
.wrapper.styleNoticias input[type="reset"],
.wrapper.styleNoticias input[type="button"],
.wrapper.styleNoticias button,
.wrapper.styleNoticias .button {
  background-color: #f2f2f2;
  color: #000 !important;
}

.wrapper.styleNoticias input[type="submit"]:hover,
.wrapper.styleNoticias input[type="reset"]:hover,
.wrapper.styleNoticias input[type="button"]:hover,
.wrapper.styleNoticias button:hover,
.wrapper.styleNoticias .button:hover {
  background-color: white;
}

.wrapper.styleNoticias input[type="submit"]:active,
.wrapper.styleNoticias input[type="reset"]:active,
.wrapper.styleNoticias input[type="button"]:active,
.wrapper.styleNoticias button:active,
.wrapper.styleNoticias .button:active {
  background-color: #e5e5e5;
}

.wrapper.styleNoticias input[type="submit"].alt,
.wrapper.styleNoticias input[type="reset"].alt,
.wrapper.styleNoticias input[type="button"].alt,
.wrapper.styleNoticias button.alt,
.wrapper.styleNoticias .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
}

.wrapper.styleNoticias input[type="submit"].alt:hover,
.wrapper.styleNoticias input[type="reset"].alt:hover,
.wrapper.styleNoticias input[type="button"].alt:hover,
.wrapper.styleNoticias button.alt:hover,
.wrapper.styleNoticias .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.styleNoticias input[type="submit"].alt:active,
.wrapper.styleNoticias input[type="reset"].alt:active,
.wrapper.styleNoticias input[type="button"].alt:active,
.wrapper.styleNoticias button.alt:active,
.wrapper.styleNoticias .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.styleNoticias input[type="submit"].alt.icon:before,
.wrapper.styleNoticias input[type="reset"].alt.icon:before,
.wrapper.styleNoticias input[type="button"].alt.icon:before,
.wrapper.styleNoticias button.alt.icon:before,
.wrapper.styleNoticias .button.alt.icon:before {
  color: #999999;
}

.wrapper.styleNoticias input[type="submit"].special,
.wrapper.styleNoticias input[type="reset"].special,
.wrapper.styleNoticias input[type="button"].special,
.wrapper.styleNoticias button.special,
.wrapper.styleNoticias .button.special {
  background-color: #8a4680;
  color: #ffffff !important;
}

.wrapper.styleNoticias input[type="submit"].special:hover,
.wrapper.styleNoticias input[type="reset"].special:hover,
.wrapper.styleNoticias input[type="button"].special:hover,
.wrapper.styleNoticias button.special:hover,
.wrapper.styleNoticias .button.special:hover {
  background-color: #9b4f90;
}

.wrapper.styleNoticias input[type="submit"].special:active,
.wrapper.styleNoticias input[type="reset"].special:active,
.wrapper.styleNoticias input[type="button"].special:active,
.wrapper.styleNoticias button.special:active,
.wrapper.styleNoticias .button.special:active {
  background-color: #793d70;
}

.wrapper.styleNoticias label {
  color: #ffffff;
}

.wrapper.styleNoticias input[type="text"],
.wrapper.styleNoticias input[type="password"],
.wrapper.styleNoticias input[type="email"],
.wrapper.styleNoticias select,
.wrapper.styleNoticias textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias input[type="text"]:focus,
.wrapper.styleNoticias input[type="password"]:focus,
.wrapper.styleNoticias input[type="email"]:focus,
.wrapper.styleNoticias select:focus,
.wrapper.styleNoticias textarea:focus {
  border-color: #8a4680;
  box-shadow: 0 0 0 1px #8a4680;
}

.wrapper.styleNoticias .select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias input[type="checkbox"] + label,
.wrapper.styleNoticias input[type="radio"] + label {
  color: #bfbfbf;
}

.wrapper.styleNoticias input[type="checkbox"] + label:before,
.wrapper.styleNoticias input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias input[type="checkbox"]:checked + label:before,
.wrapper.styleNoticias input[type="radio"]:checked + label:before {
  background-color: #8a4680;
  border-color: #8a4680;
  color: #ffffff;
}

.wrapper.styleNoticias input[type="checkbox"]:focus + label:before,
.wrapper.styleNoticias input[type="radio"]:focus + label:before {
  border-color: #8a4680;
  box-shadow: 0 0 0 1px #8a4680;
}

.wrapper.styleNoticias ::-webkit-input-placeholder {
  color: #999999 !important;
}

.wrapper.styleNoticias :-moz-placeholder {
  color: #999999 !important;
}

.wrapper.styleNoticias ::-moz-placeholder {
  color: #999999 !important;
}

.wrapper.styleNoticias :-ms-input-placeholder {
  color: #999999 !important;
}

.wrapper.styleNoticias .formerize-placeholder {
  color: #999999 !important;
}

.wrapper.styleNoticias ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias header p {
  color: #999999;
}

.wrapper.styleNoticias table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.styleNoticias table th {
  color: #ffffff;
  text-align: center; /* Centers text horizontally */
  vertical-align: middle; /* Centers text vertically */
}

.wrapper.styleNoticias table thead {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.wrapper.styleNoticias table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.styleNoticias .inner {
  position: relative;
  z-index: 2;
}

.wrapper.styleNoticias p {
  color: white;
  text-transform: uppercase; /* Options: lowercase, capitalize, none, inherit, initial */
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 0.25rem;
}

.wrapper.styleNoticias p:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.wrapper.styleNoticias:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
