.wrapper.styleALNWK2 {
  background-color: #f2f2f2;
  background: rgba(0, 0, 0, 0.418);
  background-image: url(../../images/cyberpunk2077.jpg);
  color: #a6a6a6;
}

.wrapper.styleALNWK2 input,
.wrapper.styleALNWK2 select,
.wrapper.styleALNWK2 textarea {
  color: #000;
}

.wrapper.styleALNWK2 a {
  color: #8a4680;
}

.wrapper.styleALNWK2 strong,
.wrapper.styleALNWK2 b {
  color: #000;
}

.wrapper.styleALNWK2 h1,
.wrapper.styleALNWK2 h2,
.wrapper.styleALNWK2 h3,
.wrapper.styleALNWK2 h4,
.wrapper.styleALNWK2 h5,
.wrapper.styleALNWK2 h6 {
  color: #000;
}

.wrapper.styleALNWK2 blockquote {
  border-left-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 code {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 hr {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 .box {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 input[type="submit"],
.wrapper.styleALNWK2 input[type="reset"],
.wrapper.styleALNWK2 input[type="button"],
.wrapper.styleALNWK2 button,
.wrapper.styleALNWK2 .button {
  background-color: #000;
  color: #f2f2f2 !important;
}

.wrapper.styleALNWK2 input[type="submit"].alt,
.wrapper.styleALNWK2 input[type="reset"].alt,
.wrapper.styleALNWK2 input[type="button"].alt,
.wrapper.styleALNWK2 button.alt,
.wrapper.styleALNWK2 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
  color: #000 !important;
}

.wrapper.styleALNWK2 input[type="submit"].alt:hover,
.wrapper.styleALNWK2 input[type="reset"].alt:hover,
.wrapper.styleALNWK2 input[type="button"].alt:hover,
.wrapper.styleALNWK2 button.alt:hover,
.wrapper.styleALNWK2 .button.alt:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.wrapper.styleALNWK2 input[type="submit"].alt:active,
.wrapper.styleALNWK2 input[type="reset"].alt:active,
.wrapper.styleALNWK2 input[type="button"].alt:active,
.wrapper.styleALNWK2 button.alt:active,
.wrapper.styleALNWK2 .button.alt:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper.styleALNWK2 input[type="submit"].alt.icon:before,
.wrapper.styleALNWK2 input[type="reset"].alt.icon:before,
.wrapper.styleALNWK2 input[type="button"].alt.icon:before,
.wrapper.styleALNWK2 button.alt.icon:before,
.wrapper.styleALNWK2 .button.alt.icon:before {
  color: #999999;
}

.wrapper.styleALNWK2 input[type="submit"].special,
.wrapper.styleALNWK2 input[type="reset"].special,
.wrapper.styleALNWK2 input[type="button"].special,
.wrapper.styleALNWK2 button.special,
.wrapper.styleALNWK2 .button.special {
  background-color: #8a4680;
  color: #ffffff !important;
}

.wrapper.styleALNWK2 input[type="submit"].special:hover,
.wrapper.styleALNWK2 input[type="reset"].special:hover,
.wrapper.styleALNWK2 input[type="button"].special:hover,
.wrapper.styleALNWK2 button.special:hover,
.wrapper.styleALNWK2 .button.special:hover {
  background-color: #9b4f90;
}

.wrapper.styleALNWK2 input[type="submit"].special:active,
.wrapper.styleALNWK2 input[type="reset"].special:active,
.wrapper.styleALNWK2 input[type="button"].special:active,
.wrapper.styleALNWK2 button.special:active,
.wrapper.styleALNWK2 .button.special:active {
  background-color: #793d70;
}

.wrapper.styleALNWK2 label {
  color: #000;
}

.wrapper.styleALNWK2 input[type="text"],
.wrapper.styleALNWK2 input[type="password"],
.wrapper.styleALNWK2 input[type="email"],
.wrapper.styleALNWK2 select,
.wrapper.styleALNWK2 textarea {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 input[type="text"]:focus,
.wrapper.styleALNWK2 input[type="password"]:focus,
.wrapper.styleALNWK2 input[type="email"]:focus,
.wrapper.styleALNWK2 select:focus,
.wrapper.styleALNWK2 textarea:focus {
  border-color: #8a4680;
  box-shadow: 0 0 0 1px #8a4680;
}

.wrapper.styleALNWK2 .select-wrapper:before {
  color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 input[type="checkbox"] + label,
.wrapper.styleALNWK2 input[type="radio"] + label {
  color: #a6a6a6;
}

.wrapper.styleALNWK2 input[type="checkbox"] + label:before,
.wrapper.styleALNWK2 input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 input[type="checkbox"]:checked + label:before,
.wrapper.styleALNWK2 input[type="radio"]:checked + label:before {
  background-color: #8a4680;
  border-color: #8a4680;
  color: #ffffff;
}

.wrapper.styleALNWK2 input[type="checkbox"]:focus + label:before,
.wrapper.styleALNWK2 input[type="radio"]:focus + label:before {
  border-color: #8a4680;
  box-shadow: 0 0 0 1px #8a4680;
}

.wrapper.styleALNWK2 ::-webkit-input-placeholder {
  color: #999999 !important;
}

.wrapper.styleALNWK2 :-moz-placeholder {
  color: #999999 !important;
}

.wrapper.styleALNWK2 ::-moz-placeholder {
  color: #999999 !important;
}

.wrapper.styleALNWK2 :-ms-input-placeholder {
  color: #999999 !important;
}

.wrapper.styleALNWK2 .formerize-placeholder {
  color: #999999 !important;
}

.wrapper.styleALNWK2 ul.alt li {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 header p {
  color: #999999;
}

.wrapper.styleALNWK2 table tbody tr {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.075);
}

.wrapper.styleALNWK2 table th {
  color: #000;
}

.wrapper.styleALNWK2 table thead {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 table tfoot {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.styleALNWK2 table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.15);
}
